CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
*pluginInfo.json
.cache
bin/
Docs/docs/
BuildArtefacts/
AyonCppApi_CiCd/
AyonCppApi_cicd/
__pycache__
