[submodule "ext/cpp-httplib"]
	path = ext/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/backward-cpp"]
	path = ext/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
