[submodule "ext/cpp-httplib"]
	path = ext/cpp-httplib
  url = https://github.com/yhirose/cpp-httplib.git
  tag = v0.15.3
[submodule "ext/json"]
	path = ext/json
  url = https://github.com/nlohmann/json.git
  tag = v3.11.3
[submodule "ext/spdlog"]
	path = ext/spdlog
  url = https://github.com/gabime/spdlog.git
  tag = v1.13.0
[submodule "ext/backward-cpp"]
	path = ext/backward-cpp
  url = https://github.com/bombela/backward-cpp.git
  tag = v1.6
[submodule "ext/benchmark"]
	path = ext/benchmark
  url = https://github.com/google/benchmark.git
  tag = v1.8.3
[submodule "ext/googletest"]
	path = ext/googletest
  url = https://github.com/google/googletest.git
  tag = v1.14.0
[submodule "AyonCiCdTools"]
	path = AyonCiCdTools
	url = git@github.com:ynput/AyonCiCd-Automator.git
